## Model Selection and Cross Validation

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('Purchased_Dataset.csv')
x = df[['Age','EstimatedSalary']] # 
y = df['Purchased']  # traget variables

In [3]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [2]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
import sklearn

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state =5)
knnclassifier = KNeighborsClassifier(n_neighbors=5)
knnclassifier.fit(x_train,y_train)
y_pred = knnclassifier.predict(x_test)
metrics.accuracy_score(y_test,y_pred)

0.77

In [10]:
x_train.head() , x.head()

(     Age  EstimatedSalary
 24    46            23000
 33    28            44000
 396   51            23000
 273   39           106000
 246   35            50000,
    Age  EstimatedSalary
 0   19            19000
 1   35            20000
 2   26            43000
 3   27            57000
 4   19            76000)

In [55]:
x_train.shape

(300, 2)

In [56]:
x_train.isnull().sum()

Age                0
EstimatedSalary    0
dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state =7)
knnclassifier = KNeighborsClassifier(n_neighbors=5)
knnclassifier.fit(x_train,y_train)
y_pred = knnclassifier.predict(x_test)
metrics.accuracy_score(y_test,y_pred)

0.77

In [12]:
x_train.head()

     Age  EstimatedSalary
382   44           139000
84    30            62000
115   40            57000
328   36           118000
99    28            37000

In [13]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[61  7]
 [16 16]]

In [14]:
x_train.head()

     Age  EstimatedSalary
382   44           139000
84    30            62000
115   40            57000
328   36           118000
99    28            37000

# import CrossValidation

# checking  accurracy for KNeibhours algo

In [15]:
from sklearn.model_selection import cross_val_score
knnclassifier = KNeighborsClassifier(n_neighbors=4)
print(cross_val_score(knnclassifier, x, y, cv=10, scoring ='accuracy').mean() )  #.mean() #)

0.7925

# accuracy checking fro Logistic Regression

In [16]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
print (cross_val_score(logreg, x, y, cv=10, scoring = 'accuracy').mean())

0.6425000000000001

# check for Naive Bayes Classification Model

In [17]:
from sklearn.naive_bayes import GaussianNB
classifierNB = GaussianNB()
print(cross_val_score(classifierNB,x, y, cv = 10, scoring = 'accuracy').mean())

0.8775000000000001

In [18]:
x_train2, x_test2, y_train2, y_test2 = train_test_split(x,y,random_state =5)
classifierNB.fit(x_train2,y_train2)

GaussianNB()

In [19]:
Y_predNB = classifierNB.predict(x_test2)
#print(Y_predNB)
metrics.accuracy_score(y_test2,Y_predNB)

0.89

In [20]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test2, Y_predNB)
print(cm)

[[62  4]
 [ 7 27]]

Conclusion : after checking and comparing baswed on their accuracy here we can see that Naiv Bayes Classification Model
    gives us the best accuracy rate 87 % . so we can select Naiv Bayes as a best model among the three.